body {
    background-color: purple;
  }
  
  h1 {
    font-family: garamond;
    text-align: center;
    font-size: 2em;
  }
  
  h3 {
    font-family: garamond;
    text-align: center;
    font-size: 2em;
  }
  
  img {
    height: 500px;
    width: 500px;
  }
  
  .Isaiah {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .Tom {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 1;
    grid-row-end: 1;
  }
  
  .Dillion {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 2;
    grid-row-end: 2;
  }
  
  .Justin {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2;
    grid-row-end: 2;
  }
  
  .gridContainer {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
  }
  
  
  .navBar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navBar a {
    float: left;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navBar a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: green;
  }
  
  
  .topNav-right {
    float: right;
  }